@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Condensed);
@import url(https://fonts.googleapis.com/css?family=Gaegu);

body {
    background-color: whitesmoke;
}

a, li, span, button, input, p, label {
    font-family: 'Encode Sans Condensed', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gaegu', cursive !important;
    padding-left: 10px;
    padding-right: 10px;
}

h4{
    text-align: center;
    border-bottom: 1px solid;
    background-color: black;
    color: white;
}

.container {
    border: 1px solid;
    padding-right: 0;
    padding-left: 0;
    max-width: 700px;
    min-width: 560px;
}

.container h1 {
    background-color: black;
    color: white;
    margin-bottom: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.login {
    display: grid;
}

h3 {
    margin-bottom: 0;
}

form {
    display: grid;
}

span {
    max-width: 848px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-app {
    border-top: 1px solid;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.chat-app div:first-child {
    grid-column: 1;
}

aside {
    grid-row: 2 / span 3;
}

.user_box{
    text-overflow: ellipsis;
    overflow: hidden;
}

#msg_title {
    border-left: 1px solid;
}

#control {
    grid-column: 2;
    border-left: 1px solid;
    display: flex;
}

#msg {
    width: 85%;
}

#send {
    width: 15%;
}

#messages {
    border-left: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    overflow-y: scroll;
    align-content: start;
}

.msg_box {
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: auto auto;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    border-top: 1px groove indianred;
}

.msg_box span:last-child {
    grid-column: 1 / span 2;
}

.mentioned{
    color: blue;
}

.time{
    justify-self: end;
}

.name{
    justify-self: start;
}

#typing {
    grid-column: 2;
    border-left: 1px solid;
}

/*popup*/
/* popup styles */
.popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 650px;
}

.popup-content {
    font-family: Serif;
    position: absolute;
    width: 500px;
    margin: -58px 0 0 -264px;
    left: 50%;
    top: 50%;
    z-index: 11;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: black;;
}

.close-popup {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -30px;
    font-size: 42px;
}

.btn {
    border: 1px solid;
    display: inline-block;
    padding: 5px 20px;
}

.btn:hover {
    background: #fff;
    color: rgb(0, 159, 211);
}

.popup {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.popup-content {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #fff;
}

.fresh{
    background-color: chartreuse;
}

.online{
    background-color: green;
}

.offline{
    background-color: whitesmoke;
}

.just_leave{
    background-color: gray;
}