body {
    background-color: whitesmoke;
}

.login {
    display: grid;
}

.chat-app {
    display: grid;
    grid-template-columns: auto auto;
}

#app-name {
    grid-column: 1 / span 2;
}

#control {
    grid-column: 2;
}

.msg_box {
    display: grid;
    grid-template-columns: auto auto;
}

.msg_box span:last-child {
    grid-column: 1 / span 2;
}

#typing{
    grid-column: 2;
}

.fresh{
    background-color: chartreuse;
}

.online{
    background-color: green;
}

.offline{
    background-color: red;
}

.just_leave{
    background-color: gray;
}